<div class="container" style="margin-top: 5rem;">
  <form [formGroup]="form">
  <div class="row">
    <div class="col-sm-3">
      <label for="">Valor 1</label>
      <input type="number" class="form-control" formControlName="num1">
    </div>
    <div class="col-sm-3">
      <label for="">Valor 2</label>
      <input type="number" class="form-control" formControlName="num2">
    </div>
    <div class="col-sm-3">
      <label for="">Valor 3</label>
      <input type="number" class="form-control" formControlName="num3">
    </div>
    <div class="col-sm-3">
      <label for="">Valor 4</label>
      <input type="number" class="form-control" formControlName="num4">
    </div>
  </div>
</form>
  <br>
  <div class="row">
    <div class="col-sm-2 offset-sm-5 text-center">
      {{form.valid}}
    </div>
  </div>
</div>